<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Home Page</title>
</head>
<body>
    <div class="home-container">
    <h1>Welcome</h1>
    <p>Please choose an option below</p>
    <div class="btn-group">
      <a href="/signin" class="btn">Sign In</a>
      <a href="/signup" class="btn">Sign Up</a>
    </div>
  </div>
</body>
</html>