<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>SignIn</title>
</head>
<body>
      <form action="signin" method="post">

        <h1>SIGN IN FORM</h1>

     <label for="">Email</label>
   <input type="email" name="email" placeholder="Enter Your Email">

   <label for="">password</label>
   <input type="password" name="password" placeholder="Enter Your password">

   <input type="submit" value="SignIn">
   
    </form>
</body>
</html>